# config.org auto-compiles to config.el
config.el

# backup files
*~

# package install directories
elpa/

# projectile
.cache/
projectile*

# others
ido.last
ac-comphist.dat
url/
eshell/
bookmarks
recentf
server/
transient/

# multiple-cursors
.mc-lists.el

# ignore changes to env.el template
env.el

# ignore lsp files
.lsp*